<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="row justify-content-center align-self-center">
      <span class="text-muted">휠/타이어 종합물류매장 | 대표 : 김승회 | 전화 : 010-3325-7766</span>
    </div>
    <div class="row justify-content-center align-self-center">
      <span class="text-muted">대전광역시 대덕구 대전로 1330 (읍내동 436-10)</span>
    </div>
    <div class="row justify-content-center align-self-center">
      <span class="text-muted">사업자등록번호 : 306-03-51048</span>
    </div>
    <div class="row justify-content-center align-self-center">
      <span class="text-muted">&copy; 휠/타이어 종합물류매장</span>
    </div>
</footer>