<div class="row justify-content-center align-self-center my-5">
  <form class="form-inline" method="GET">
    <button type="submit" class="btn btn-primary mx-3" value="1" name="page">1</button>
    <button type="submit" class="btn btn-primary mx-3" value="2" name="page">2</button>
    <button type="submit" class="btn btn-primary mx-3" value="3" name="page">3</button>
  </form>
</div>