<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>대전 중고 휠 & 타이어</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <a class="navbar-brand float-left" href="/">
          <img src=" https://wheeltire.itpage.kr/user/w/wheeltire/20201008173315_dkNCiZAh.png" alt="" width="350px">
        </a>
        <nav class="nav nav-masthead justify-content-center float-md-right mt-3">
          <a class="nav-link active" aria-current="page" href="/">홈페이지</a>
          <% if(!currentUser) { %>
            <a class="nav-link" href="/login">로그인</a>
            <a class="nav-link" href="/register_user">회원가입</a>
            <% } else { %>
              <a class="nav-link" href="/logout">로그아웃</a>
              <% } %>
        </nav>
      </div>
    </header>
    <main class="px-3">
      <h1>신품·중고 <span class="text-red">휠 / 타이어</span> 종합 물류 매장</h1>
      <p class="lead my-5"> 고객 여러분들께서 원하시는 차종의 품질 좋은 휠/타이어를 보유하고 있으니 <br> 주저하지 마시고 저희 휠/타이어 종합 물류 매장을 방문해주세요 <br>
        <a href="/recommend" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mt-5 mb-5">둘러보기</a>
    </main>
    <footer class="mt-auto text-white">
      <p>&copy; 2022 휠/타이어 종합물류매장 </p>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
</body>

</html>