<% layout('layouts/boilerplate') %>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3034632970_fUY2GZL4_4abb768464ba8d8e374674ab6e5e9d301e9fc51c.jpg"
          alt="" width="300px">
      </div>
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3034632970_RtC4hSyW_cf981a5a72dfd630303c9d7535185a42dcfeaac6.jpg"
          alt="" width="300px">
      </div>
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3034632970_657TBaWz_b1ab2a113f4f425f75d1e69ddc6d347f8184d928.jpg"
          alt="" width="300px">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3034632970_C40d9naA_95d8d73ad21351834ba7624463f67a79fa4a4d52.jpg"
          alt="" width="300px">
      </div>
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3034632970_WKyXRbOo_e2406397be840111243e0f9a4b163e493a5b751c.jpg"
          alt="" width="300px">
      </div>
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3695750758_lHZp4eQf_250a0bae11a19dcfbbe326b99c8b7b7ec161f919.jpg"
          alt="" width="300px">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3034632970_dvHcUMjw_facccfe042f9367bd132f3d17faa892a543a3504.jpg"
          alt="" width="300px">
      </div>
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3695750758_M1SwFk6q_116c10d0241cf74d71014ce5199ce0ccb00dd025.jpg"
          alt="" width="300px">
      </div>
      <div class="col-sm">
        <img class="img-thumbnail"
          src="https://wheeltire.itpage.kr/data/file/gall26/3695750758_AVrXwH9k_f0aa958671e4027634a768ec6459faf6efe90b8f.jpg  "
          alt="" width="300px">
      </div>
    </div>
  </div>